* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
	background-color: black;
}

.hidden {
	display: none;
}


.map {
  right: 0px;
  left: 0;
  height: 100%;
  position: absolute;
}

h1, h2 {
 font-family: "FPL Neu";
}

#map {
  cursor: pointer;
}

#map, #map0, #map1, #map2, #map3, #map4 {
	background-color: black;
}

html, body, #map,
a, a:visited, a:hover {
  color: rgb(68, 68, 68);
}

.color1  { background-color: #A50026; }
.color2  { background-color: #D73027; }
.color3  { background-color: #F46D43; }
.color4  { background-color: #FDAE61; }
.color5  { background-color: #FEE090; }
.color6  { background-color: #FFFFBF; }
.color7  { background-color: #E0F3F8; }
.color8  { background-color: #ABD9E9; }
.color9  { background-color: #74ADD1; }
.color10 { background-color: #4575B4; }
.color11 { background-color: #313695; }

#box {
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

  background-color: white;

  padding: 10px;
  width: 230px;
  top: 20px;
  right: 20px;

  position: absolute;

  overflow-y: auto;
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
	font-size: 40px;
  font-style: italic;
}

h3 {
  margin: 0px 0;
  text-align: right;
}

#legend table tr td {
  align: left;
  text-align: left;
}

td {
  white-space: nowrap
}

.data-table tr td {
  height: 1.4em;
  line-height: 1.4em;
}

.data-table {
  border-collapse: collapse;
}

.data-table tr td.key {
}

.data-table tr td.value {
  width: 99%;
  text-align: left;
  padding-left: 10px;

  overflow: hidden;
  text-overflow: ellipsis;

}

.key {
  text-align: right;
}

#legend table tr td.key {
  width: 20px;
  border-style: solid;
  border-width: 1px ;
}

#legend table tr td.value {
  padding-left: 8px;
}

#legend table tr td.value.first {
  padding-right: 15px;
}

.leaflet-control-attribution {
  display: none;
}

#sections {
	width: 100%;
	height: 100%;
}

.map-container {
	position: absolute;
	width: 50%;
	height: 50%;
}

.map-container .map-text {
  position: absolute;
	z-index: 999;
	width: 300px;

	margin: 20px;

  background-color: rgba(255, 255, 255, 0.95);

  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
}

.map-container h1 {
  margin: 0 6px;
}

.map-container p {
  margin: 0 6px 6px 6px;
}

#map-container1, #map-container3 {
	left: 0;
}

#map-container1, #map-container2 {
	top: 0;
}

#map-container2, #map-container4 {
	left: 50%;
}

#map-container3, #map-container4 {
	top: 50%;
}


#legend {
    z-index: 1000;
    width: 205px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right:0px;
                background-color: rgba(0, 0, 0, .75);
    font-family: sans-serif;
    font-size: 0px;
    color: rgb(177, 241, 253);
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
}

#info {
   z-index: 1000;
    width: 405px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right:215px;
                background-color: rgba(0, 0, 0, .75);
    font-family: sans-serif;
    font-size: 0px;
    color: rgb(177, 241, 253);
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
}

#legend ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

#legend li {
    list-style-image: none;
    color: #fff;
    font-size: 11px;
    display: block;
    margin-right: -60px;
    margin-bottom: -2px;
}

#legend p {
    display: inline;
    float: bottom;
    position: relative;
    top: -4px;
    left: 5px;
}

#legend span {
    height: 15px;
    width: 30px;
    display: inline-block;
}

#navleft {
    min-height: 30px;
    padding: 10px 5px 5px 10px;
    position: relative;
    background-color: rgba(100, 100, 100, 0.75);
    width: 600px;
}

#navleft span {
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    font-size: 24px;
    font-variant: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#navright {
    min-height: 30px;
    height: 70px;
    padding: 10px 5px 5px 10px;
    position: relative;
    z-index: 1000;
    text-align: right;
}

#navright span {
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

#navright span strong {
    color: #B1F1FD;
}

#footer {
    min-height: 10px;
    width: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    padding: 0px 5px 0px 5px;
}

#footer p {
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    font-size: 9px;
    font-variant: bold;
    letter-spacing: 1px;
    display: inline-block;
}

#footer p strong {
    color: #B1F1FD;
}

#footer a {
    color: #B1F1FD;
    text-decoration: none;
}

#footer a:hover {
    color: #B1F1FD;
    text-decoration: underline;
}

#footer a:active {
    color: yellow;
    text-decoration: underline;
}



.leaflet-bottom.leaflet-right {
    margin-bottom: 20px;
}

       
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

